@model Modelado.Control_Alumno

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>
    <script src="~/Scripts/jquery-1.7.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    
    @using (Html.BeginForm()) {
        @Html.ValidationSummary(true)
    
        <fieldset>
            <legend>Control_Alumno</legend>
    
               <div class="editor-label">
            @Html.LabelFor(model => model.id_control)
        </div>
             <div class="editor-field">
            @Html.DisplayFor(model => model.id_control)
            @Html.HiddenFor(model => model.id_control)
            @Html.ValidationMessageFor(model => model.id_control)
        </div>
    
            <div class="editor-label">
                @Html.LabelFor(model => model.calificacion_final)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.calificacion_final)
                @Html.ValidationMessageFor(model => model.calificacion_final)
            </div>
    
            <div class="editor-label">
                @Html.LabelFor(model => model.id_clase)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.clase)
                @Html.ValidationMessageFor(model => model.id_clase)
            </div>
    
            <div class="editor-label">
                @Html.LabelFor(model => model.periodo)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.periodo)
                @Html.ValidationMessageFor(model => model.id_periodo)
            </div>
    
            <div class="editor-label">
                @Html.LabelFor(model => model.nombre_completo)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.nombre_completo)
                @Html.ValidationMessageFor(model => model.id_estudiante)
            </div>
    
            <p>
                <input type="submit" value="Save" />
            </p>
        </fieldset>
    }
    
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</body>
</html>
